@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-mono {
    font-family: "Azeret Mono", serif;
}

.borderBottom {
    border-block-end: 1px solid var(--mantine-color-gray-2)
}

.fullHeightContainer {
    flex: 1;
    justify-content: space-between;

    @media (min-width: 48em) {
        padding-bottom: var(--app-shell-header-height);
        justify-content: center;
    }
}

.appShellMain {
    display: flex;
    flex-direction: column;
    align-content: stretch
}

.appShellMain .mantine-Container-root {
    width: 100%;
    padding-inline: 0px
}
